@font-face {
  font-family: 'helvetica-roman';
  src: url('../fonts/fonts/helvetica-roman.eot');
  src: url('../fonts/fonts/helvetica-roman.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fonts/helvetica-roman.woff2') format('woff2'),
  url('../fonts/fonts/helvetica-roman.woff') format('woff'),
  url('../fonts/fonts/helvetica-roman.ttf') format('truetype'),
  url('../fonts/fonts/helvetica-roman.svg#HelveticaNeueLTGEO-55Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica-light';
  src: url('../fonts/fonts/helvetica-light.eot');
  src: url('../fonts/fonts/helvetica-lightt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fonts/helvetica-light.woff2') format('woff2'),
  url('../fonts/fonts/helvetica-light.woff') format('woff'),
  url('../fonts/fonts/helvetica-light.ttf') format('truetype'),
  url('../fonts/fonts/helvetica-light.svg#HelveticaNeueLTGEO-45Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica-medium';
  src: url('../fonts/fonts/helvetica-medium.eot');
  src: url('../fonts/fonts/helvetica-medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fonts/helvetica-medium.woff2') format('woff2'),
  url('../fonts/fonts/helvetica-medium.woff') format('woff'),
  url('../fonts/fonts/helvetica-medium.ttf') format('truetype'),
  url('../fonts/fonts/helvetica-medium.svg#HelveticaNeueLTGEO-65Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica-thin';
  src: url('../fonts/fonts/helvetica-thin.eot');
  src: url('../fonts/fonts/helvetica-thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fonts/helvetica-thin.woff2') format('woff2'),
  url('../fonts/fonts/helvetica-thin.woff') format('woff'),
  url('../fonts/fonts/helvetica-thin.ttf') format('truetype'),
  url('../fonts/fonts/helvetica-thin.svg#HelveticaNeueLTGEO-35Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica-bold';
  src: url('../fonts/fonts/helvetica-bold.eot');
  src: url('../fonts/fonts/helvetica-bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fonts/helvetica-bold.woff2') format('woff2'),
  url('../fonts/fonts/helvetica-bold.woff') format('woff'),
  url('../fonts/fonts/helvetica-bold.ttf') format('truetype'),
  url('../fonts/fonts/helvetica-bold.svg#HelveticaNeueLTGEO-75Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Vision';
  src: url('../fonts/fonts/Vision-Regular.eot');
  src: url('../fonts/fonts/Vision-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fonts/Vision-Regular.woff2') format('woff2'),
  url('../fonts/fonts/Vision-Regular.woff') format('woff'),
  url('../fonts/fonts/Vision-Regular.ttf') format('truetype'),
  url('../fonts/fonts/Vision-Regular.svg#Vision-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


$bold: 'helvetica-bold';
$primary: 'helvetica-roman';
$light: 'helvetica-light';
$medium: 'helvetica-medium';
$thin: 'helvetica-thin';
$vision: 'Vision';